<!DOCTYPE>
<html>
<head>
	<title>
		ShareApps - Best way for beta-testing!
	</title>

	<script type="text/javascript" src="/vendor/angular/angular.js"></script>
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/vendor/jquery-ui/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
	<div class="header-menu">
		<div class="header-menu_logo">
			<a href="/">
				<img src="/resource/logo.png">
			</a>
		</div>
		<div class="header-menu_team">
			Team
		</div>
		<div class="header-menu_apps">
			Apps	
		</div>
		<div class="header-menu_about">
			About
		</div>	
	</div>	
</body>
</html>