<!DOCTYPE>
<html>
<head>
	<title>
		ShareApps - Best way for beta-testing!
	</title>

	<script type="text/javascript" src="/vendor/angular/angular.js"></script>
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/vendor/jquery-ui/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
	<h1>Hello World!</h1>
	<div class="header-menu">
		<div class="header-menu_team">
			<a href="/myteam">My team</a></div>
		<div class="header-menu_projects">
			<a href="/projects">Projects</a></div>
		<div class="header-menu_about">
			<a href="/about">About</a></div>
	</div>
</body>
</html>